<h1>Reset Password</h1>

<%= form_with url: password_resets_path, method: :post do |f| %>
	<div class="field">
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	<div class="actions"><%= f.submit "Reset Password" %></div>
<% end %>
